$body-color: blue;

body {
  color: $body-color;
}

.header{
  color: green;
  display: flex;
  justify-content: center;
}

.wrap-container{
  width: 85%;
  margin: auto;
}
.info-block{
  padding: 20px;
}
.list-item{
  display: flex;
  justify-content: flex-start;

  .item{
    display: flex;
    padding: 40px 20px 40px 0;
    font-size: 20px;
  }
}
.info-block-header{
  padding: 15px 0 ;
}
.font-italic{
  padding: 7px 0;
}
.card-columns{
  padding: 30px 0 0 0;
  .card{
    padding:  5px;
    margin: 2px;
  }
}

.page-block{
  display: flex;
  justify-content: space-around;
}

.main{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
}

.text{
  animation-duration: 3s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.contacts{
  animation-duration: 3s;
  animation-name: slidet;
}

@keyframes slidet {
  from {background-color: rgb(132, 132, 226);}
  to {background-color: rgb(133, 216, 219);}
}

.news{
  animation-duration: 1s;
  animation-name: slidets;
}

@keyframes slidets {
  50% { transform: none; }   
  55% { transform: scaleY(0.1); }
}